body {
	background-image: url("content/ocean.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
}

h1 {
	color: #ff6600;
	text-shadow: 3px 3px #000000;
	font-size: 50px
}

table {
	width: 340px;
	color: #ff6600;
	text-shadow: 3px 3px #000000;
	font-size: 30px
}
